<main>
  <h2>管理者ログイン</h2><br>
  <div class="user-sain">
    <%= form_with scope: :session, url:admin_login_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-field"%>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "form-field" %>
      </div>
      <br />
      <div class="sub-btn">
        <%= f.submit "管理者ログイン",class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</main>
